:root {
  --black: 0, 5, 5;
  --white: 254, 252, 253;
  --primary: 186, 196, 226;
  --dark-gray: 10, 15, 15;
  --light-gray: 247, 249, 252;
  --box-shadow: 0 0.25rem 1.88rem rgba(0, 0, 0, 0.1);
  --text-shadow: 0.04rem 0.04rem 0.02rem rgba(50, 50, 70, 0.5);
  --backdrop-filter: blur(0.8rem);
  --regular-border-radius: 1rem;
}

.glassmorphism {
  box-shadow: var(--box-shadow);
  background: rgba(var(--primary), 0.19);
  backdrop-filter: var(--backdrop-filter);
  -webkit-backdrop-filter: var(--backdrop-filter);
  border-radius: var(--regular-border-radius);
}
