.container {
  display: flex;
  align-items: center;
  width: fit-content;
}
.container input {
  min-width: 100%;
  padding: 0.3em 0.5em 0.3em 1.8em;
  color: rgba(var(--white), 0.8);
  border: none;
  border-radius: 1em;
  box-shadow: var(--box-shadow);
  background-color: rgba(var(--light-gray), 0.4);
  transition: 0.4s;
}
.container input::placeholder {
  color: rgba(var(--white), 0.4);
  transition: 0.4s;
}
.container input:focus,
.container input:focus::placeholder {
  color: rgba(var(--dark-gray), 0.8);
}
.container input:focus {
  background-color: rgba(var(--white), 0.6);
  outline: solid 0.2rem rgba(var(--dark-gray), 0.4);
}
.container:has(input:focus) .searchIcon {
  color: rgba(var(--dark-gray), 0.4);
  stroke: rgba(var(--dark-gray), 0.4);
}
.searchIcon {
  position: absolute;
  padding: 0 0.4em;
  color: rgba(var(--white), 0.3);
  stroke: rgba(var(--white), 0.3);
  stroke-width: 3rem;
  transition: 0.4s;
  z-index: 2;
  filter: drop-shadow(0.08rem 0.08rem 0.02rem rgba(50, 50, 70, 0.5));
}
